
<div *ngFor="let product of products" class="card card-body mb-2">
    <div class="row">
        <div class="col-md-8">
            <ul>
                <li>
                    ID: {{product._id}}
                </li>
                <li>
                    Name: {{product.name}}
                </li>
                <li>
                    Description: {{product.description}}
                </li>
                <li>
                    Price: {{product.price}}
                </li>
                <li>
                    Created At: {{product.createdAt}}
                </li>
            </ul>
            <button class="btn btn-danger" (click)="deleteProduct(product._id!)">
                Delete
            </button>
            <button class="btn btn-secondary" [routerLink]="['/product/edit', product._id]">
                Edit
            </button>
        </div>
        <div class="col-md-4">
            <img [src]="product.imageURL" alt="" class="card-img">
        </div>
    </div>
</div>
